/* Imported the font */
@import url('https://fonts.google.com/specimen/Bai+Jamjuree');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* Container */
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid blue; */
}

/* Hero section */
.hero-section{
    width: 100%;
    height: 80vh;
    background-image: url('./Images/bg-header-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-logo{
    width: 100px;
    margin-bottom: 50px;
    cursor: pointer;
}

.hero-title{
    width: 100%;
    color: hsl(210, 10%, 33%);
    margin-bottom: 15px;
    font-size: 38px;
    text-align: center;
}

.hero-subtitle{
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 30px;
    width: 100%;
}

.hero-buttons{
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-button{
    width: 200px;
    height: 100%;
    border-radius: 25px;
    color:white;
    border: none;
    box-shadow: 0 0 3px 1px hsl(201, 11%, 66%);
    border-bottom: 2px solid hsl(201, 11%, 66%);
    cursor: pointer;
    font-size: 15px;
    transition: color 0.2s, background-color 0.2s;
}

.hero-button:first-child{
    background-color: hsl(171, 66%, 44%);
}

.hero-button:first-child:hover{
    background-color: hsl(171, 66%, 60%);
    border-bottom-color:hsl(171, 66%, 44%);
}

.hero-button:last-child{
    background-color: hsl(233, 100%, 69%);
}

.hero-button:last-child:hover{
    background-color: hsl(233, 100%, 80%);
    border-bottom-color:hsl(233, 100%, 69%);
}

/* Illustration section */
.illustration-section{
    width: 100%;
    height: auto;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.ill-title{
    font-size: 28px;
    color: hsl(210, 10%, 33%);
    margin-bottom: 20px;
}

.ill-subtitle{
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 80px;
}

.illustrations{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.ill-image{
    width: 45%;
    height: 80%; 
}

.illustration-section dl{
    width: 400px;
}

.illustration-section dt{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color:hsl(210, 10%, 33%);
}

.illustration-section dd{
    font-size: 18px;
    color:hsl(201, 11%, 66%);
    margin-bottom: 40px;
    line-height: 1.2em;
}

/* Main section */
.main-section{
    width: 100%;
    height: auto;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.main-title{
    font-size: 28px;
    color:hsl(210, 10%, 33%);
    margin-bottom: 20px;
}

.main-subtitle{
    font-size: 18px;
    color:hsl(201, 11%, 66%);
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 100px;
}

.main-image{
    width: 70%;
}

/* About us section */
.aboutUs-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 80px;
    margin-bottom: 50px;
}

.aboutUs-title{
    font-size: 28px;
    color:hsl(210, 10%, 33%);
    margin-bottom: 20px;
}

.aboutUs-subtitle{
    font-size: 18px;
    color:hsl(201, 11%, 66%);
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 50px;
}

.tool-list{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 130px;
    gap: 20px;
}

.tool-item{
    width: 100%/3;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tool-image{
    margin-bottom: 40px;
    width: 60px;
}

.tool-title{
    font-size: 20px;
    color:hsl(210, 10%, 33%);
    margin-bottom: 15px;
}

.tool-subtitle{
    font-size: 16px;
    color:hsl(201, 11%, 66%);
    text-align: center;
    line-height: 1.5em;
}

/* Partners section */
.partners{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partners img{
    width: 10%;
}

/* Download section */
.download-section{
    width: 100%;
    height: auto;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.download-title{
    font-size: 28px;
    color:hsl(210, 10%, 33%);
    margin-bottom: 40px;
}

.download-subtitle{
    font-size: 18px;
    color:hsl(201, 11%, 66%);
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 80px;
}

.download-buttons{
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.download-button{
    width: 200px;
    height: 100%;
    border-radius: 25px;
    color:white;
    border: none;
    box-shadow: 0 0 3px 1px hsl(201, 11%, 66%);
    border-bottom: 2px solid hsl(201, 11%, 66%);
    cursor: pointer;
    font-size: 15px;
    transition: color 0.2s, background-color 0.2s;
}

.download-button:first-child{
    background-color: hsl(171, 66%, 44%);
}

.download-button:first-child:hover{
    background-color: hsl(171, 66%, 60%);
    border-bottom-color:hsl(171, 66%, 44%);
}

.download-button:last-child{
    background-color: hsl(233, 100%, 69%);
}

.download-button:last-child:hover{
    background-color: hsl(233, 100%, 80%);
    border-bottom-color:hsl(233, 100%, 69%);
}

/* Footer section */
.footer{
    width: 100%;
    height: auto;
    background-color: hsl(210, 3%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.footer-logo{
    width: 60px;
    margin-right: 15%;
    cursor: pointer;
}

.footer-menu{
    list-style-type: none;
    width: 55%;
    height: 80px;
    margin-right: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-item{
    width: 33.3%;
    height: 40px;
    font-size: 16px;
    color:hsl(210, 10%, 33%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-link{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    transition: color 0.2s;
}

.footer-link:hover{
    color: hsl(171, 66%, 44%);
}

.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

@media (max-width: 800px){
    /* Hero section */
    .hero-title, .hero-subtitle{
        width: 80%;
    }

    .hero-buttons{
        flex-direction: column;
        height: 100px;
        width: 350px;
        gap: 10px;
    }

    .hero-button{
        width: 100%;
    }

    /* Illustration section */
    .ill-title, .ill-subtitle{
        width: 100%;
        text-align: center;
    }

    .illustrations{
        flex-direction: column;
        gap: 50px;
    }

    .ill-image{
        width: 80%;
    }

    dt, dd{
        width: 100%;
        text-align: center;
    }

    /* Main section */
    .main-title, .main-subtitle{
        width: 100%;
        text-align: center;
    }

    .main-image{
        width: 100%;
    }

    /* About us section */
    .aboutUs-title, .aboutUs-subtitle{
        width: 100%;
        text-align: center;
    }

    .tool-list{
        flex-direction: column;
        gap: 30px;
    }

    .tool-item{
        width: 100%;
        height: auto;
    }

    .tool-title, .tool-subtitle{
        text-align: center;
        width: 100%;
    }


    /* Partners section */
    .partners{
        flex-direction: column;
        gap: 80px;
    }

    .partners img{
        width: 30%;
    }

    /* Download section */
    .download-title, .download-subtitle{
        width: 100%;
        text-align: center;
    }

    .download-buttons{
        flex-direction: column;
        height: 100px;
        width: 350px;
        gap: 10px;
    }

    .download-button{
        width: 100%;
    }

    /* Footer section */
    .footer{
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
    }

    .footer-logo{
        margin-right: 0;
        width: 50px;
    }

    .footer-menu{
        width: 100%;
        height: auto;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-item{
        width: 100%;
        justify-content: center;
    }

    .footer-socials{
        gap: 30px;
    }
}

@media (max-width: 500px){
    .ill-image, .main-image{
        width: 100%;
    }

    .hero-title, .ill-title, .main-title, .aboutUs-title, .download-title{
        font-size: 24px;
    }

    .hero-subtitle, .ill-subtitle, .main-subtitle, .aboutUs-subtitle, .download-subtitle{
        font-size: 16px;
        width: 95%;
    }

    .hero-button{
        width: 80%;
    }

    .partenrs img{
        width: 40%;
    }
}